html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

.page-content {
  min-height: 100%; }
  @media (min-width: 768px) {
    .page-content {
      height: 100%;
      transition: transform 1s;
      will-change: transform; } }

body {
  line-height: 1.42;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }
  @media (min-width: 768px) {
    .wrapper {
      height: 100%;
      transition: transform 1s;
      will-change: transform; } }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }
